body {

    text-align: center;
    }

    h1 { 

        font-family: Verdana;
        font-size: 60px;

    }

    #img-caption {

        font-size: 30px;

    }
    #image {

        width: 100%;
        height: auto;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
         
    }
    p {

        font-family: Helvetica;
        font-size: 18px;
        position: relative;
        top: 50%;
        left: 50%;
        margin-right: 50%;
        transform: translate(-50%, -50%)
    }
    #tribute-link {

        font-family: Lucida Sans;
        font-size: 20px;
        font-weight: bold;

    }